- content_for :header_tags do
  = vite_typescript_tag 'public.tsx', crossorigin: 'anonymous'

- content_for :content do
  .auth-layout
    .auth-hero
      - if within_authorization_flow?
        .auth-logo
          = image_tag frontend_asset_path('images/fediway/app-icon.svg'), alt: '', class: 'auth-logo__icon'
          %span.auth-wordmark Fediway
      - else
        = link_to root_path, class: 'auth-logo' do
          = image_tag frontend_asset_path('images/fediway/app-icon.svg'), alt: '', class: 'auth-logo__icon'
          %span.auth-wordmark Fediway

    .auth-card
      = render 'flashes'

      = yield

= render template: 'layouts/application'
